.root {
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  display: flex;

  main {
    flex: 1;
    display: flex;
    min-height: 100%;
    padding-bottom: 1rem;
    padding-top: 4rem;

  }

  nav {

    @media screen and (max-width:769px) {
      padding-bottom: 2rem;
      position: fixed;
      height: fit-content;
      // 
    }
  }

  @media (min-width: 769px) {
    .root {}

    main {
      flex: 1 0 auto;
    }
  }
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}