.container {
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
}

.button {
  margin: 2rem !important;
  background-color: var(--accent) !important;
  :hover {
    background-color: var(--dimmed-accent) !important;
  }
}