.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  z-index: 1;
  font-size: 1.2rem;

  h2 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.25;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 500;
  }

  @media (min-width: 769px) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.25rem;
    }
  }
}

.head {
  position: relative;
  width: calc(100% - 50vw);
  height: calc(100vh - 6vh - 7.5rem);
  max-height: 100vw;
  margin-left: 10vw;
  margin-top: 6vw;

  p {
    display: none;
  }
}

.fancy {
  color: #15847d;
}

.handle {
  display: inline-block;
  margin-top: 0.275em;
  color: #9b9b9b;
  letter-spacing: 0.05em;
}

.z1 {
  z-index: 1;
}

.more {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) -4px -3px 30px;
  width: 100%;
  min-height: 50rem;
  margin-bottom: -1rem;
  padding-bottom: 1rem;
}

.more_content {
  margin: 2rem auto;
  padding: 0 3rem;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.see_more {
  min-height: 50px;
  min-width: 110px;
  height: 4.5vw;
  width: 15vw;
  outline: none;
  border: none;
  color: white;
  font-weight: 900;
  font-size: calc(15px + 1.2vw);
  margin-top: 3vw;
}

.see_more::after {
  content: "";
  height: 0.1vw;
  width: 0%;
  margin-left: 24%;
  margin-top: -0.1vw;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  position: absolute;
  left: 0;
  transition: width 500ms;
}

.mdx {
  a {
    font-style: italic;
  }
}

.see_more:hover::after {
  width: 52%;
}



.bg_img {
  background-image: url("/images/clearoff-old.jpg");

  background-size: cover;

  transform-origin: bottom;
  width: 100%;
  z-index: 0;
  left: 0;
  top: 0;
  // aspect-ratio: 1;
  height: 100vh;
  position: fixed;
  filter: saturate(1.1) brightness(1.05);

  @media (max-width: 769px) {
    // aspect-ratio: 0.7;

  }

}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  z-index: 2;
}

.title {
  font-size: 9vw;
}

@media (max-width: 600px) {
  .title {
    font-size: 12vw;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 17vw;
  }
}



.poly_effect {
  box-shadow: inset -0.3vw -0.4vw 1vw rgba(0, 0, 0, 0.1),
    inset 0.4vw 0.3vw 0.9vw rgba(255, 255, 255, 0.2),
    0.4vw 0.3vw 0.9vw rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.3vw);
  border-radius: 0.8rem;
  transition: all 300ms;
}

.poly_effect:hover {
  box-shadow: inset -0.3vw -0.4vw 1vw rgba(0, 0, 0, 0.1),
    inset 0.4vw 0.3vw 0.9vw rgba(255, 255, 255, 0.2),
    0.6vw 0.5vw 1.2vw rgba(0, 0, 0, 0.15);

  transform: translate(-0.1vw, -0.1vw);
}

.poly_effect:active {
  transition: all 90ms;
  box-shadow: inset -0.3vw -0.4vw 1vw rgba(0, 0, 0, 0.1),
    inset 0.4vw 0.3vw 0.9vw rgba(255, 255, 255, 0.2),
    0.2vw 0.1vw 0.4vw rgba(0, 0, 0, 0.2);
  transform: translate(0.1vw, 0.1vw);
}

.fancy_font {
  font-family: "Fraunces";
  font-weight: 400;
  font-variation-settings: "SOFT" 0, "WONK" 0, "opsz" 100;
}

.title h1 {
  font-size: inherit;
  color: black;
  margin: -2.1vw 0;
  padding: 0 0;
}

@media screen and (max-width: 700px) {
  .attribution {
    display: none;
  }
  .bg_img {
    background-image: url(/images/mobile-bg.jpg);
    background-position: -362px -77px;
    background-size: 1030px;
    transform-origin: top left;
    aspect-ratio: 0.1;
  }

  .title {
    font-size: 4rem;

    h1 {
      margin: -0.4rem 0;
    }
  }

  .fancy_font {
    font-variation-settings: "SOFT" 0, "WONK" 0, "opsz" 60;
  }

  .more_content {
    padding: 0 2rem;
  }

  .head {
    // height: fit-content;
    width: auto;
    margin: 0 50px;
    margin-top: 45px;


    height: calc(100vh - 2rem);
    max-height: 100vh;

    box-sizing: border-box;

    p {
      max-width: 304px;
      line-height: 1.2em;
      font-size: 1.2rem;
      display: block;
    }
  }

}

.cards {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  // justify-content: space-between;
}