.root {
    min-height: 100vh;
    flex-direction:column;
    margin:0;
    display:flex;
    flex:1;
    display: flex;
    min-height: 100%;
    padding-bottom: 1rem;
  }
.navi {
    padding-bottom: 2rem;
}
@media (min-width: 769px) {
    .root {
        flex: 1 0 auto;
    }
}