@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  color: #222;
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
  z-index: 2;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}
nav {
  z-index: 2;
  position: relative;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 350px) {
  .fc-toolbar-title {
    font-size: 1.45em !important;
  }
}


/* tailwind replacements */

.underline {
  text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css?family=Fraunces');

.fancy-font {
  font-family: 'Fraunces';
  font-weight: 400;
}

.description * {
  width: max-content;
}
.description {
  width: max-content;
}

