table, th, td {
  border: 0.1rem solid #dcd7ca;
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-color: #dbdbdb;
}

tr {
  border-color: #dbdbdb;
  border: none;
  margin: 0;
  display: table-row;
}

tr:nth-child(odd) {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #f1f1f1;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
  padding-left: 10px;
}

table {
  border-spacing: 0;
  border-radius: 3px;
}